@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RapiPres</h1>
    <p class="lead">Tu mejor opción de obtener un prestamo con las mejores cuotas bajas, disposición de tiempo de hasta 24 meses.</p>
</div>

<div class="row">
   
</div>