@model IEnumerable<Entidad.Cuota>
@{
    ViewBag.Title = "ReaPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReaPago</h2>

<form action="BuscarCli" method="post">
    <div>
        <label for="dni">Ingrese DNI del Cliente</label>
        <input type="text" placeholder="12459764" id="dni" name="dni" class="form-control col-md-2" />
        <div>
            <input type="submit" id="bus" name="bus" value="Buscar Cliente" class="btn btn-default" />
        </div>
    </div>
</form>

@if (ViewBag.exito == 1)

    {
        <div>
            <table class="table">
                <tr>
                    <th>
                        Número de cuota
                    </th>
                    <th>
                        <p>Pago del mes</p>
                    </th>
                    <th>
                        Fecha de pago
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.periodo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cuota)
                        </td>
                        <td>
                            @Html.ValueFor(modelItem => item.fechaPa, "{0:dd/MM/yyyy}")
                        </td>
                        <td>
                            @if (DateTime.Now.Month == item.fechaPa.Month)
                            {
                                if (item.estado.Equals(false))
                                {
                                    <a href="@Url.Action("VerificarDeudas","Pago", new {idCu=item.idCuo })"><input type="button" class="btn btn-dark" value="Pagar Cuota" /></a>
                                }
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>


}

